*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;

}
header{
    background:url(/images/background.jpg);
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 60px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #f5f6fa;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #f5f6fa;
    color: #273c75;
}
.logo img{
    width: 150px;
    float: left;
    height: auto;
    padding-top: 10px;
}

.addProduct{
    position: absolute;
    width: 600px;
    height: 0px;
    margin: 10% 33%;
    text-align: left;
    color: yellow;
}

h2{
    color: blanchedalmond;
}
p{
    font-size: 20px;
    color:yellow;
}